# serverless.yml

#组件信息
component: scf # (必选) 组件名称，在该实例中为scf
name: jdscript # (必选) 组件实例名称。

#组件参数配置
inputs:
  name: scf-${name} # 云函数名称，默认为 ${name}-${stage}-${app}
  enableRoleAuth: true # 默认会尝试创建 SCF_QcsRole 角色，如果不需要配置成 false 即可
  src: ./
  handler: index.main_handler #入口
  runtime: Nodejs12.16 # 运行环境 默认 Nodejs12.16
  region: ap-guangzhou # 函数所在区域
  description: This is a function in ${app} application.
  memorySize: 64 # 内存大小，单位MB
  timeout: 86400 # 超时时间，单位秒
  asyncRunEnable: true # 是否启用异步执行
  events: #触发器
    - timer: #签到 #摇京豆 #店铺签到 #进店领豆#特物Z#天天优惠大乐透
        parameters:
          name: beansign_clublottery_carexchange_shop_superBrand_DrawEntrance
          cronExpression: "0 3 0,7,21 * * * *"
          enable: true
          argument: jd_bean_sign&jd_club_lottery&jd_car_exchange&jd_monk_inter_shop_sign&jd_shop&jd_superBrand&jd_DrawEntrance
    - timer: #取关京东店铺商品 #京东抽奖机 #京东汽车 #京东秒秒币 #天天提鹅 #领金贴#送豆得豆#点点券
        parameters:
          name: unsubscribe_lotteryMachine_car_ms_jintie_necklace_ddo_pk
          cronExpression: "0 0 1,6,16 * * * *"
          enable: true
          argument: jd_unsubscribe&jd_lotteryMachine&jd_car&jd_ms&jd_necklace&jd_ddo_pk
    - timer: #东东农场 #东东萌宠  #京东极速版红包 #美丽研究院#PK&我是大佬板
        parameters:
          name: fruit_pet_speedsign_speedredpocke_beauty
          cronExpression: "0 5 0-18/6,8 * * * *"
          enable: true
          argument: jd_fruit&jd_pet&jd_speed_sign&jd_speed_redpocke&jd_beauty&jd_wsdlb&jd_ddo_pk
    - timer: #宠汪汪喂食 #宠汪汪 #摇钱树 #京东种豆得豆 #京喜工厂 #东东工厂 #健康社区收取能量
        parameters:
          name: feedPets_joy_moneyTree_plantBean_jdfactory_healthenergy
          cronExpression: "0 3 0,6-23/1 * * * *"
          enable: true
          argument: jd_joy_feedPets&jd_joy&jd_moneyTree&jd_plantBean&jd_jdfactory&jd_z_health_energy
    - timer: #宠汪汪积分兑换京豆 #签到领现金 #东东小窝 #京东直播 #金榜创造营 
        parameters:
          name: joyreward_cash_smallhome_live_bookshop_qqxing
          cronExpression: "0 0 0-16/8,20 * * * *"
          enable: true
          argument: jd_joy_reward&jd_cash&jd_small_home&jd_live&jd_gold_creator&jd_bookshop&jd_qqxing
    - timer: #健康社区
        parameters:
          name: healthcommunity
          cronExpression: "0 0 2,6,10,13,16,20 * * * *"
          enable: true
          argument: jd_z_health_community&jd_sendBeans&jd_necklace&jd_live_lottery_social
    - timer: #5G超级盲盒 #省钱大赢家之翻翻乐#天天加速#PK
        parameters:
          name: mohe_speedjd_ddo_pk_europeancup_qjd
          cronExpression: "0 0 1,3,5,7,10,15,20 * * * *"
          enable: true
          argument: jd_mohe&jd_speed&jd_ddo_pk&jd_europeancup&jd_qjd
    - timer: #东东超市 #京喜财富岛 # 京喜牧场#电技经理
        parameters:
          name: cfd_superMarket
          cronExpression: "0 30 1,3,5,9,13,16,19,23 * * * *"
          enable: true
          argument: jd_superMarket&jd_jxmc&jd_djjl
    - timer: #京豆变动通知 #疯狂的joy #京东排行榜 #领京豆额外奖励 #闪购盲盒 #京小兑 #幸运大转盘
        parameters:
          name: beanchange_rankingList_beanhome_sgmh_jxd_paoku
          cronExpression: "0 30 2,16,22 * * * *"
          enable: true
          argument: jd_bean_change&jd_rankingList&jd_bean_home&jd_sgmh&jd_jxd&jd_market_lottery&jd_djjl&jd_paoku
    - timer: #金融养猪 #十元街 #京东快递 #京东赚赚 #女装盲盒 #关注有礼 #跳跳乐瓜分京豆 #新潮品牌狂欢 #京喜领88元红包 #星店长
        parameters:
          name: pigPet_syj_kd_jdzz_sign_nzmh_follow
          cronExpression: "0 20 0,5,11,17,21 * * * *"
          enable: true
          argument: jd_pigPet&jd_syj&jd_kd&jd_jxlhb&jd_jdzz&jd_nzmh&jd_monk_shop_follow_sku&jd_jump&jd_mcxhd&jd_star_shop
  environment: #  环境变量
    variables: #  环境变量对象
      AAA: BBB # 不要删除，用来格式化对齐追加的变量的
