# serverless.yml

#组件信息
component: scf # (必选) 组件名称，在该实例中为scf
name: jdscript # (必选) 组件实例名称。

#组件参数配置
inputs:
  name: scf-${name} # 云函数名称，默认为 ${name}-${stage}-${app}
  enableRoleAuth: true # 默认会尝试创建 SCF_QcsRole 角色，如果不需要配置成 false 即可
  src: ./
  handler: index.main_handler #入口
  runtime: Nodejs12.16 # 运行环境 默认 Nodejs12.16
  region: ap-guangzhou # 函数所在区域
  description: This is a function in ${app} application.
  memorySize: 64 # 内存大小，单位MB
  timeout: 86400 # 超时时间，单位秒
  asyncRunEnable: true # 是否启用异步执行
  installDependency: true # 是否在线安装依赖
  events: #触发器
    - timer: #签到 #摇京豆 #进店领豆 
        parameters:
          name: beansign_clublottery_shop_try
          cronExpression: "2 15 0,2-22/2 * * * *"
          enable: true
          argument: jd_bean_sign&jd_club_lottery&jd_shop&jd_sign&jd_DrawEntrance&jd_dpqd
    - timer: #取关京东店铺商品 #京东抽奖机 #京东汽车 #京东秒秒币 #天天提鹅 #领金贴
        parameters:
          name: unsubscribe_lotteryMachine_car_ms_jintie
          cronExpression: "0 45 0,1,6,15,20,22 * * * *"
          enable: true
          argument: jd_lotteryMachine&jd_ms&jd_paoku&jd_wishingPool&jd_unsubscribe&jd_car&jd_summer_movement_map
    - timer: #东东农场 #东东萌宠 #京东极速版红包 #美丽研究院
        parameters:
          name: fruit_pet_speedsign_speedredpocke_beauty
          cronExpression: "0 5 0-18/6,8 * * * *"
          enable: true
          argument: jd_fruit&jd_speed_sign&jd_speed_redpocke&jd_wxFans
    - timer: #宠汪汪 #摇钱树 #京东种豆得豆 #京喜工厂 #东东工厂 #健康社区收取能量
        parameters:
          name: plantBean_jdfactory_healthenergy_wsdlb_qqxing_moneyTree
          cronExpression: "0 0 3,10-22/1 * * * *"
          enable: true
          argument: jd_plantBean&jd_jdfactory&jd_z_health_energy&jd_wsdlb&jd_super_redrain
    - timer: #宠汪汪积分兑换京豆 #签到领现金 #东东小窝 #京东直播 #金榜创造营 #全民开红包
        parameters:
          name: cash_smallhome_live
          cronExpression: "2 10 0,6-22/2 * * * *"
          enable: true
          argument: jd_cash&jd_bookshop&jd_gold_creator&jd_small_home&jd_live&jd_mohe
    - timer: #健康社区 #天天提鹅 #抢京豆#挣金币
        parameters:
          name: healthcommunity_dailyegg_qjd
          cronExpression: "2 2 0,10,6-23/4 * * * *"
          enable: true
          argument: jd_qjd&jd_europeancup&jd_z_health_communityg&jd_zjb
    - timer: #东东超市 #京喜财富岛 #京喜牧场 #京享值PK 
        parameters:
          name: jxmc_joypark_pk_superMarket_sendBeans
          cronExpression: "0 30 1,3,6-23/1 * * * *"
          enable: true
          argument: jd_sendBeans&jd_jxmc&jd_half_redrain&jd_ddo_pk&jd_superMarke
    - timer: ##特物z #汪汪乐园#燃动夏季
        parameters:
          name: superBrand_joypark_summer_movemen_joy_park
          cronExpression: "0 40 4,7-23/1 * * * *"
          enable: true
          argument: jd_zqfl&jd_summer_movement&jd_superBrand&&jd_joy_park
    - timer: #京豆变动通知 #疯狂的joy #京东排行榜 #领京豆额外奖励 #闪购盲盒 #京小兑 #特物z
        parameters:
          name: beanchange_crazyjoy_rankingList_beanhome_sgmh_jxd
          cronExpression: "0 50 3,9,17,22 * * * *"
          enable: true
          argument: jd_rankingList&jd_bean_home&jd_sgmh&jd_jxd&jd_superBrand&jd_bean_change&jd_crazy_joy
    - timer: #金融养猪 #十元街 #京东快递 #京东赚赚 #点点券 #女装盲盒 #电竞经理 #东东乐园 #柠檬零食街
        parameters:
          name: pigPet_syj_kd_jdzz_nzmh_necklace_nzmh_djjl_ddly
          cronExpression: "0 25 0,7,10,20,22,23 * * * *"
          enable: true
          argument: jd_necklace&jd_nzmh&jd_jdzz&jd_djjl&jd_syj&jd_kd
  environment: #  环境变量
    variables: #  环境变量对象
      AAA: BBB # 不要删除，用来格式化对齐追加的变量的
